
.sidebar {
    height: 100%;
    width: 100%;
    padding: 4rem;
    overflow-y: scroll;
    transition: .4s ease-in-out;
}

.cart--list {
    padding: 4rem 0;
    height: 90%;
    overflow: auto;
}

.list--detail{
    padding: 0 2rem;
    text-align: right;
}

.list {
    margin-bottom: 2rem;
    border-radius: 5px;
    border: 1px solid var(--color-gray-300);
}

.figure {
    flex: 0 30%;
    aspect-ratio: 1;
    overflow: hidden;
}

.hamburger{
    transform: rotate(0deg);
    transition: transform .2s linear;
}

.hamburger:hover{
    transform: rotate(30deg);
}


.text--right{
    margin-left: auto;
}