.preview {
    padding: 5% 0;
    width: 100vw;
    overflow: hidden;
}

.preview--flex {
    align-items: end;
}
@media (max-width:64em) {
    .preview--flex {
        flex-direction: column;
        gap: 2rem;
    }
    .preview--flex {
        align-items: stretch;
    }
    .figure {
        flex: 0 0 25%;
        object-fit: cover;
    }
}

.figure {
width: 20rem;
}

    .figure {
        flex: 0 0 25%;
        object-fit: cover;
    }


.details,
.preview--action {
    flex: 0 30%;
    line-height: 1.8;
}

.text-left {
    text-align: left;
}