.preview {
    height: 40vh;
    position: sticky;
    top: 8rem;
    background: #ffffff;
    z-index: 10;
    padding: 2rem;
    /* overflow: hidden; */
}

@media (max-width:39em) {.flex {flex-direction: column;}}

.figure { flex: 0 1 40%; }

.details { flex: 0 1 45%;}

.text-left { text-align: left; }