.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  background-color:#b9b7bd3e;
}

.modal {
  position: fixed;
  right: 0;
  height: 95vh;
  width: 90vw;
  z-index: 300;
  animation: slide-right 300ms ease-out forwards;
  background: var(--color-gray-100);
}

@media (min-width:64em) {
  .modal {
    width: 40rem;
  }
}

.modal::-webkit-scrollbar {
  scrollbar-width: 1px;
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}