.preview {
    width: 100vw;
    overflow: hidden;
    background-color: #ffffff6d;
    backdrop-filter: saturate(20%) blur(4px);
}

@media (max-width:64em) {
    .preview--flex {
       flex-direction: column;
    }
}

.preview--flex {
    align-items: flex-end;
}

.figure {
    flex: 0 0 25%;
    object-fit: cover;
}

.details,.preview--action {
    flex: 0 30%;
    line-height: 1.8;
}

.text-left {
    text-align: left;
}