@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@200;400;700&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  transition: .4s ease-in-out;
}

:root {
  font-family: "Poppins", sans-serif;
  font-size: clamp(30%, 62.5%, 70%);
  line-height: 1.4;

  color-scheme: light dark;
  color: var(--color-gray-900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;

  --color-primary-100: #EEEDE7;
  --color-primary-transparent: #eeede75c;
}

html {
  background: var(--color-primary-100)
}

body {
  font-size: 1.4rem;
}

*::-webkit-scrollbar-thumb {
  width: .1rem;
  background: #868B8E;
}

/* display types | defined width sizes |  */

.flex,
.flex-center {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  place-items: center;
  justify-content: space-around;
}

.grid {
  width: 100%;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

/* typography */
.link {
  all: unset;
  transition: .7s linear;
  font-size: inherit;
  cursor: pointer;
  padding: .5rem .8rem;
  border-radius: 5px;


}

.list-item .link:hover {
  text-decoration: underline;
}

.active {
  color: var(--color-gray-700);
  background: var(--color-gray-200);
}

.text-center,
header {
  text-align: center;
}

.heading-primary {
  font-size: clamp(7rem, 15vw, 10rem);
  line-height: .8;
  font-family: "Abel", sans-serif;
}

.heading-secondary {
  font-size: clamp(3rem, 3vw, 4rem);
  text-transform: uppercase;
}

.heading-tertiary {
  font-size: clamp(1.2rem, 1.4rem, 1.6rem);
  text-transform: uppercase;
  font-weight: 600;
}

.heading-quaternary {
  font-size: 1.6rem;
  text-transform: capitalize;
}

.heading-senary {
  font-weight: lighter;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.5rem;
  line-height: 1.6;
  word-spacing: 0.12rem;
  margin: 1rem 0;
}

.paragraph::first-letter {
  text-transform: capitalize;
}

.text--right {
  text-align: right;
}

/* Utilities */
.container {
  width: 100%;
  height: 100%;
  padding: 3rem;
  margin: 0% auto;
  overflow: hidden;
}

@media (min-width:64em) {
  .container {
    width: 80%;
  }
}

.gallery {
  width: 100vw;
  overflow-x: auto;
}

.section {
  width: 100vw;
  margin: 4rem auto;
}

.card {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  cursor: pointer;
  background: #dedfe32f;
  filter: grayscale(40%);
}

.figure {
  aspect-ratio: 1;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(0%);
}

#root {
  min-height: 95vh;
  position: relative;
}

.btn {
  all: unset;
  display: block;
  padding: 1.5rem 1.8rem;
  background: inherit;
  width: 13rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1.5rem;
  border: 1px solid var(--color-gray-800);
  color: var(--color-gray-900);
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btn span {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: top 0.5s;
}

.btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}

.btn:hover .btn-text-one {
  top: -100%;
}

.btn:hover .btn-text-two {
  top: 50%;
}

.item {
  position: relative;
}

.item-container {
  max-height: 70vh;
  overflow: auto;
}

.item-container::-webkit-scrollbar{
  width: 0;
  display: none;
}

.btn-utility {
  font-size: 1.8rem;
  border: none;
  color: var(--color-gray-100);
  cursor: pointer;
  padding: .8rem 1.2rem;

  border-radius: 5px;
}

.btn-circle {
  border-radius: 100px;
  aspect-ratio: 1;
  clip-path: circle(40% at 50%);
}