nav {
    width: 100vw;
    position: sticky;
    top: 0;
    background-color: #ffffff6d;
    backdrop-filter: saturate(20%) blur(4px);
    z-index: 100;
    color: var(--color-gray-900);
}

.nav .container {
    padding:.1rem 1.4rem;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

@media (min-width :64em) {
    .nav .container {
        flex-wrap: nowrap;
        width: 80%;
        padding: 1.4rem 2rem;
    }
}

.nav li {
    list-style: none;
    text-transform: uppercase;
}

ul {
    gap: 2rem;
}

.logo {
    font-weight: bolder;
    font-size: clamp(1.8rem, 3rem, 4rem);
    text-transform: lowercase;
    word-spacing: -0.4ch;
    font-family: "Abel", sans-serif;
    flex: 0 auto;
}

.notification {
    align-self: baseline;
}

.bag:hover {
    cursor: pointer;
}

@media (max-width :64em) {
    .nav .container {
        flex-wrap: wrap;
        text-align: center;
    }
    .logo{
        flex: 1 100%;
    }
}