.nav {
    font-size: 1.6rem;
    width: 100vw;
    position: sticky;
    top: 0;
    background-color: #ffffff6d;
    backdrop-filter: saturate(20%) blur(4px);
    z-index: 100;
}

@media (min-width:64em) {
    .nav {
        position: sticky;
    }
}

.nav .container {
    padding: 1.4rem 2rem;
    width: 80%;
    place-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.nav li {
    list-style: none;
    text-transform: uppercase;
}

ul {
    gap: 4rem;
}

.notification {
    align-self: baseline;
    background: red;
    border-radius: 100px;
    aspect-ratio: 1;
    height: 7px;
}

.bag:hover {
    cursor: pointer;
}

.checked {
    background-color: green;
}

.logo {
    font-weight: bolder;
    font-size: 4rem;
    text-transform: lowercase;
    word-spacing: -0.4ch;
    font-family: "Abel", sans-serif;
}