.nav {
    font-size: 1.6rem;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #ffffff6d;
    backdrop-filter: saturate(20%) blur(4px);
}

@media (min-width:64em) {
    .nav {  position: sticky; }
}

.nav .container {
    padding: 1.4rem 2rem;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
}

.nav li {
    list-style: none;
    text-transform: uppercase;
}

ul {
    gap: 4rem;
}